.people-submenu {
    width: 10rem;
    position: absolute;
    top: 67px;
    list-style: none;
    text-align: start;
    
  }
  
  .people-submenu li {
    background: rgb(0, 212, 212);
    cursor: pointer;
    margin: top 10px;
  }
  
  .people-submenu li a:hover {
    background: rgb(0, 175, 175);
  }
  
  .people-submenu.clicked {
    display: none;
  }


  .publication-submenu {
    width: 10rem;
    position: absolute;
    top: 67px;
    list-style: none;
    text-align: start;
  }
  
  .publication-submenu li {
    background: rgb(0, 212, 212);
    margin: 20px;
    float:down;
    cursor: pointer;
  }
  
  .publication-submenu li a:hover {
    background: rgb(0, 175, 175);
  }
  
  .publication-submenu.clicked {
    display: none;
  }
  
  .submenu-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
  }

  .dropdown{
    margin: 2px;
  }