.navbar {
    height: 20%;
    width: 100%;
    background: #00263e;
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    
}
  
  .navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
  }
  
  .nav-items {
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    height: 10vh;
  }
  
  .nav-items a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    margin-right: 2rem;
    padding: 6px 16px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
  }
  
  .nav-items a:hover {
    color: #da9413;
  }

  #logo{
    height: 80px;
    width:auto;
    
  }
  .img{
    height: 100px;
    width: 100px;
  }

  .title{
    color: white;
    margin-bottom:20px;
    margin-left: 1rem;
  }

  .logo-title{
    display: inline-flex;
    flex-direction: row;
  }

  p{
    color:#fff;
  }