.image{
    height: 25%;
    width: 40%;
    margin-bottom: 20px;
    align-items: center;
}

img{
    height: 100px;
    width: 100px;
}
.content{
   
   flex:4;
}
.grids{
    margin-top:150px;
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
}

h2{
    text-align:center;
    
}
